setPeerInfo misses the first address

Hi Michael, I found that in onSetPeerInfoCommand function,you start parsing address at index 3 instead of 2.  Is that intentional or a bug? 

```
void onSetPeerInfoCommand(const Args &args) override
{
		Client::onSetPeerInfoCommand(args);
		m_setPeerInfoReceived = true;
		m_additionalAddresses.clear();

		auto addresses = AMF0::Array();

		for(size_t x = 3; x < args.size(); x++)
		{
			if(args[x]->isString())
			{
				Address each;
				each.setOrigin(Address::ORIGIN_REPORTED);
				if(each.setFromPresentation(args[x]->stringValue()))
				{
					m_additionalAddresses.push_back(each);
					addresses->appendValue(AMF0::String(each.toPresentation()));
				}
			}
		}

		clientLog("setPeerInfo", {{"addresses", addresses}});
}
```

that is intentional. the format of **all** RTMP Command messages is
```
<String command name> <Number transaction ID> <Object? command object> [Any arguments...]
```
except for the `connect` command, the `command object` is always AMF Null, and the proper arguments to the remote procedure start with the fourth AMF value (index 3) of the Command message.

see [Section 5.3.3 of RFC 7425](https://www.rfc-editor.org/rfc/rfc7425.html#section-5.3.3) for the definition of the `setPeerInfo` command, which illustrates this.

thanks, that's my fault. I sent setPeerInfo from  the client without <Object? command object>.